<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Tutorial</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div class="container">
    <div id="app" v-cloak>
      <h1>{{ heading }}</h1>
      <p>{{ paragraph }} {{ counter }}</p>
      <button type="button" class="btn btn-info" v-on:click="decrement">-</button>
      <button type="button" class="btn btn-info" @click="increment">+</button>
      <button type="button" class="btn btn-danger" @click="reset" :disabled="counter === 0">Reset</button>
      <div class="alert alert-primary mt-5" role="alert" v-if="counter === 1">{{ counter }}</div>
      <div class="alert alert-secondary mt-5" role="alert" v-if="counter === 2">{{ counter }}</div>
      <div class="alert alert-success mt-5" role="alert" v-if="counter === 3">{{ counter }}</div>
      <div class="alert alert-danger mt-5" role="alert" v-if="counter === 4">{{ counter }}</div>
      <div class="alert alert-warning mt-5" role="alert" v-if="counter === 5">{{ counter }}</div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <script src="script.js"></script>
</body>

</html>

<!--
Do pokazywania lub ukrywania elementow na stronie sluza nam dwie dyrektywy
v-if oraz v-show
W powyzszym przykladzie uzylismy dyrektywy v-if.
Rozni sie ona od dyrektywy v-if tym ze fizycznie wstawia i usuwa elementy z modelu DOM.
Oczywiscie w naszym przykladzie jedynie usuwa, poniewaz sa one w DOM a nie w template.
Natomiast dyrektywa v-show dodaje do elementu css display: none
-->